.canvas-box .btn-default {
  color: black;
  background-color: #fff;
  border-color: #ddd;
}

.canvas-box .btn-default:hover {
  background-color: #e6e6e6;
  border-color: #ddd;
}

.canvas-box {
}

.canvas-box *[disabled] {
  opacity: 0.1;
}

.canvas-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: relative;
  margin: 2px auto;

}

.canvas-container:focus {
  outline: none;
}

.canvas-canvas {
   overflow: auto;
}

.canvas-container.drawer-canvas-over {
    border: 5px dashed #d9d9d9;
}

.canvas-left {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.canvas-img-box img {
  border: 2px solid #d9d9d9;
}

.canvas-img-box img.drawer-canvas-img-dragging {
    opacity: 0.4;
}

.canvas-img-box [draggable] {
    user-select: none;
    cursor: move;
}

.split-horizontal .canvas-container {
   position: absolute !important;
   left: 0;
   top: 0;
}


/*split canvas css */
.gutter {
    opacity: 0.5;
    background-color: #84a4b7;
    border-radius: 2px;
}

.gutter.gutter-horizontal {
  cursor: col-resize;

}

.gutter.gutter-vertical {
  cursor: row-resize;

}

.split-content {
  border: 1px solid #eee;
  position: relative;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.split {
  box-sizing: border-box;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.canvas-box ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 10px;
}

.canvas-box ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.canvas-box ::-webkit-scrollbar-corner {
    background-color: transparent;
}

.canvas-box ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px;
}


/* canvas banner */
.canvas-banner {
  height: auto;
  background-color: #fbfbfb;
  position: relative;
  margin: 5px;
}

.canvas-banner .vr {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  margin-bottom: 0;
  width: 1px;
  border: 0.1px solid #eee;
}

.banner-items {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.banner-items .item {
  text-align: center;
  margin: 0 auto;
  border: 0;
  background-color:  "";
}

.canvas-banner .btn {
  box-shadow: none;
  border: 0;
}

.banner-items .item:hover {
  background-color:  #cbcbcb;
}

.banner-items p {
  color: initial;
}

.canvas-banner span {
  margin: 5px;
  font-weight: 500;
  font-size: 1.5em;
}

.banner-items .dropdown-state i{
  display: none;
}

.banner-items .check-box{
  width: 15px;
  display: inline-block;
}

.banner-items .dropdown-menu li .btn{
  padding: 0;
}

.banner-items .dropdown-menu a {
  display: inline-block;
  width: calc(100% - 16px);
  padding: 3px 5px;
}

/*spectrum */
.banner-items .sp-replacer {
  border: none;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 3px;
}

.drawer-spec-container {
  background-color: #fff;
  display: inline-flex;
  padding: 0;
  border-radius: 4px;
  border-color: #eee;
  box-shadow: 0 0 0 1px rgb(99 114 130 / 16%), 0 8px 16px rgb(27 39 51 / 8%);
}

.drawer-spec-container button {
    border-radius: 3px;
    border: none;
    background: transparent;
    line-height: 1;
    padding: 0 8px;
    height: 25px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #606c72;
    font-weight: bold;
}

.drawer-spec-container .sp-cancel {
  font-size: 1.5rem;
}
.drawer-spec-container .sp-cancel:hover {
  text-decoration: none;
  opacity: 0.6;
}


.banner-items p{
  font-size: 1.1em;
  margin: 0;
}
.drawer-spec-container button {
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    margin-left: 5px;
}

.drawer-spec-container button:hover {
    background-color: transparent;
    background-image: initial;
    border: none;
    opacity: 0.6;
}

.drawer-spec-container button.sp-choose {
    background-color: #3cab3b;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 5px;
}

.drawer-spec-container button.sp-choose:hover {
    background-color: #3cab3b;
    background-image: initial;
    border: none;
    opacity: 0.6;
}

.drawer-spec-container .sp-palette .sp-thumb-el {
    width: 16px;
    height: 16px;
    margin: 3px;
    border: none;
    border-radius: 3px;
}

.drawer-spec-container .sp-palette .sp-thumb-inner {
    border-radius: 3px;
}

.drawer-spec-container .sp-clear-display {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABe0lEQVQokYXSsUtcQRTF4d8Jj+VhHSxkEQuLsEUKK0nhTBFTmLSSUhBCMCAWsmgIwWrBLk0akfwLCaSQKBJmtrIIISwpRFKIhViETScphGMzysMtvOVwvpm5d0bGNCuGWAOPgYdl6S8wSDn9b+bUhDHEKWAdeAFMANg+l/TV9ofcz6cjMIbYBvaBMds7QCqZ58CmpBNgPuV0DvAAIMyFGugWtJr7eTv38xEwkPRPErY7QDeG2LqFkjrAgu0dSd/KDVqSNmxvAZ8lfbS9AHRuYemnLWkv5XRVBrQMbAI/gTXgEzAJtJuwBVS2L2OIle03QA/4Lmkl5XQBXEqqbFcAVYFDYChpFngiqWf7l6TXKaezMt2Zkhk24THwG+jZriX9AFZvUAyxLbRke2D75O5zPAO+ADXwEtizjaRHwDvbTyUtppwOmicCHAJvbXcl9YA1SQDjtseA97YPRz7ATcUQp2y/kjRdevsjaTfldNrMjcDGBjXA3T96L7yvrgFzP69+0Ao/HAAAAABJRU5ErkJggg==);
}

.drawer-spec-container .sp-clear {
    border: none;
    cursor: pointer;
}

.drawer-spec-container .sp-slider {
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 16px;
    border-radius: 50%;
    width: 16px;
    left: -2px;
    background: #f9f9f9;
    box-shadow: 0 0 2px 0px #3a3a3a;
    margin-top: 8px;
    opacity: 1;
}

.drawer-spec-container .sp-hue {
    position: absolute;
    top: 20%;
    right: 4%;
    bottom: 0;
    width: 15px;
    height: 80%;
    left: initial !important;
    border: none;
    border-radius: 3px;
}

.drawer-spec-container .sp-color, .drawer-spec-container .sp-hue, .drawer-spec-container .sp-clear {
    border: none;
    border-radius: 3px;
}
/* banner dropdowns */
.dropdown-submenu {
  position: relative;
}

.banner-items .dropdown-submenu > a{
  cursor: default;
  width: calc(100% - 19px);
  padding-left: 0;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  width: 100%;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.sidebar hr {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 1px solid #eee;
}


/*canvas logo*/
.drawer-logo:hover {
  text-decoration: none;
}

.drawer-logo:focus {
  text-decoration: none;
}
.drawer-logo img{
  height: 25px;
  width: 30px;
  vertical-align: top;
}

/*table, shortcut table*/

.drawer table {
  margin: 0 auto;
}

.drawer thead {
  border-bottom: 2px solid #9e9e9e;
}

.drawer th:not(:first-of-type) {
  border-left: 1px solid #9e9e9e;
}

.drawer th {
  padding: 0 5px;
}

.drawer td:not(:first-of-type) {
  border-left: 1px solid #9e9e9e;
}

.drawer td {
  padding: 0 5px;
}

.drawer tbody td {
  padding: 5px 0;
}

.drawer tr:nth-child(even) {
      background-color: rgb(243 243 243);
}

.drawer tbody tr:not(:first-of-type):hover {
    opacity: 1;
    background-color: rgb(51 122 183 / 20%);
}


/* to canvas text btn*/
.to-canvas-text input[type="text"]:focus {
    outline: none;
}


/* progress */
.progress-container {
    display: none;
    position: fixed;
    top: 50%;
    height: 20px;
    width: 60vw;
    z-index: 100;
    left: 25%;
    opacity: 0.9;
}

.progress-container .progress {
  height: 10px;
}
